# Database Configuration
DB_HOST=db
DB_PORT=5432
DB_NAME=interview_db
DB_USERNAME=postgres
DB_PASSWORD=postgres

# PostgreSQL Image Configuration (used by compose)
POSTGRES_DB=interview_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# Client Configuration
VITE_API_URL=http://localhost:8080
